h1 {
   font-size: 200%;
   font-weight: bold;
}

h2 {
   font-size: 150%;
   font-weight: bold;
   text-decoration: underline;
}

h3 {
   font-size: 125%;
   font-weight: normal;
   font-style: italic;
}